.about {
  padding: 98px 0;
  &__wrap {
    max-width: 580px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  &__title {
    margin-bottom: 38px;
    font-size: 30px;
    font-weight: bold;
  }
  &__text {
    margin-bottom: 40px;
    color: $Lightgrey;
  }
}
