.menu {
  height: 75px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  &__logo {
    max-width: 40%;
    width: 100%;
    img {
      display: block;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 60%;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    font-size: 12px;
    font-weight: bold;
    color: $primary;
    text-decoration: none;
    text-transform: uppercase;
  }
}
