.skills {
  padding: 166px 0;
  width: 100%;

  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &-left {
    width: 50%;
  }
  &-right {
    width: 50%;
    background: url("../img/skills_img.jpg") no-repeat center;
    background-size: cover;
    background-position-y: 50px;
    opacity: 0;
    &_top {
      background-position-y: -50px;
      transition: 0.7s;
      opacity: 1;
    }
  }

  &__title {
    margin-bottom: 55px;
    font-size: 30px;
  }
  &__box {
    width: 500px;
  }
  &__box:not(:last-child) {
    margin-bottom: 55px;
  }
  &__label {
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    span {
      margin-left: 18px;
    }
  }
  &__line {
    width: 0;
    height: 4px;
    background: $accent;
    border-radius: 4px;
    position: relative;
    transition: 1s all;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 500px;
      height: 4px;
      background: #ccc;
      z-index: -1;
    }
  }
}
