@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css");

.testimonials {
  min-height: 500px;
  display: flex;
  align-items: center;
  background: $accent;
  &-carousel {
    max-width: 813px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
  }
  &__text {
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 36px;
  }
  &__name {
    font-size: 12px;
    text-transform: uppercase;
  }
}

.slick-dots {
  bottom: -100px;
}
.slick-dots li button {
  &::before {
    color: #fff;
    opacity: 0.6;
  }
}
.slick-dots li.slick-active button {
  &::before {
    color: #fff;
    opacity: 1;
    font-size: 10px;
  }
}
