.works {
  &__wrap {
    padding: 100px 0;
    text-align: center;
  }
  &__content {
    margin-bottom: 55px;
  }
  &__title {
    margin-bottom: 37px;
    font-size: 30px;
    text-transform: capitalize;
  }
  &__text {
    margin: 0 auto;
    max-width: 504px;
    width: 100%;
    font-size: 14px;
    color: $Lightgrey;
  }
}
